<h1>Listing Tasks</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <%- @tasks.each do |task|%>
    <tr>
     <td><h3><%= link_to h(task.name), project_task_comments_path(@project, task) %></h3></td>     
      <td><%=link_to 'Show', [@project, task] %></td>
      <td><%=link_to 'Edit', edit_project_task_path(@project, task) %></td>
      <td><%=link_to 'Destroy', [@project,task], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
              
  <% end %>
</table>
<br/>

<%= link_to 'New Task', new_project_task_path %>