<% title @task.name %>

<p class="author"><em>from <%=h @task.user.username %></em></p>

<%=simple_format @task.description %>

<p><%= link_to "Back to Articles", tasks_path %></p>

<% unless @task.comments.empty? %>
  <h2><%= pluralize(@task.comments.size, 'comment') %></h2>

  <div id="comments">
  <% for comment in @task.comments %>
    <div class="comment">
      <strong><%= link_to_unless comment.site_url.blank?, h(comment.user.username), h(comment.site_url) %></strong>
      <em>on <%= comment.created_at.strftime('%b %d, %Y at %H:%M') %></em>
      <%=simple_format comment.description %>
    </div>
  <% end %>
  </div>
<% end %>

<h3>Add your comment:</h3>
<%= render :partial => 'comments/form' %>
