<h1>Editing Wiki</h1>

<%= error_messages_for :wiki %>

<% form_for(:wiki, :url => [@project, @wiki], :html => { :method => :put }) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <p>
    <%=submit_tag "Update"%>
  </p>
<% end %>

<br/>

<%= link_to 'Show', [@project, @wiki] %>
|
<%= link_to 'Back', project_wiki_path %>