<h1>Listing Wikis</h1>

<table>
  <tr>
    <th>Title</th>
  </tr>
  <%- @wikis.each do |wiki|%>
    <tr>
       <td><h3><%= link_to h(wiki.title), project_wiki_comments_path(@project, wiki) %></h3></td>

      <td><%=link_to 'Show', [@project, wiki] %></td>
      <td><%=link_to 'Edit', edit_project_wiki_path(@project, wiki) %></td>
      <td><%=link_to 'Destroy', [@project,wiki], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
<br/>

<%= link_to 'New Wiki', new_project_wiki_path %>